body {
  background: url("../Slike/background.jpg.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover; /*  ovo ide u dokumentaciju */
  -o-background-size: cover;
  background-size: cover;
}

h1{
  color: #0b4904;
}

h2 {
  color: #a6e79f;
}

a:hover{
  opacity: 60%;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #206818;
  height: 50px;

}

.navbar-item {
  float: left;
  display: block;
  color: white;
  text-align: center;
  margin-right: 80px;
  padding: 14px 16px;
  text-decoration: none;
  -webkit-text-stroke: 0.25px rgb(7, 59, 5);
}

.navbar-item:hover {
  background-color: rgb(7, 43, 9);
  cursor: default;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  text-align: center;
  align-items: center;
  margin: 10px 200px 0px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


.gallery-container {
  max-width: 1170px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

img {
  transition: all 0.2s ease-in-out;
}

.popup-gallery img {
  max-width: auto;
  height: 200px;
  margin: 10px;
}

.popup-gallery img:hover {
  transform: scale(1.1);
}

table {
  border-spacing: 0.5rem;
  width: 100%;
}
td {
  padding: 15px;
  background:#195e12;
  color: white;
}

/* .text-box{
  background: hsl(114, 78%, 24%);
  color: white;
} */

.break {
  flex-basis: 100%;
  height: 0;
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#133610;
  color: white;
  text-align: center;
  margin-top: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

}
 
.kategorija img {
  max-width: auto;
  height: 200px;
  margin: 10px;
}

.kategorija img:hover {
  transform: scale(1.1);
}

.kategorija h2 {
  color: #1a5214;
}

#tabs {
  text-align: left;
}

.kategorija{
  align-items: center;
}